<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3> Enter the new car information  </h3>
    <form action="">

        CAR YEAR:<br>
        <input type="text" name="year"><br>
        MAKE:<br>
        <input type="text" name="make"><br> 
        MODEL:<br>
        <input type="text" name="model"><br>


    </form>
    <h4>"still working on the button to fetch information"  </h4>

    <h2><a href="/">HOME</a></h2>

</body>
</html>