<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- this link is from the example -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <title>Document</title>
</head>
<body>
    <h1>I'm inside my views folder</h1>
    <h2><a href="/cars">cars</a></h2>
    <h2><a href="/cats">cats</a></h2>
    <h2><a href="/cars/new">add new car info</a></h2>




</body>
</html>